numpy
datetime
webbrowser
speechrecognition
pyttsx3
bs4
pyautogui
plyer
pygame
mixer
speedtest
wolframalpha
matplotlib
tkinter
pillow
requests
googletrans
playsound
gTTs
pywhatkit
wikipedia