numpy
datetime
web-browser
speechrecognition
pyttsx3
bs4
pyautogui
plyer
pygame
mixer
speedtest
wolframalpha
matplotlib
tk
pillow
requests
googletrans
playsound
gTTs
pywhatkit
wikipedia
pynput
